input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid darkblue;
  /* -webkit-text-fill-color: green; */
  -webkit-box-shadow: 0 0 0px 1000px rgba(250, 250, 170) inset;
  transition: background-color 5000s ease-in-out 0s;
}
body {
  background-color: rgb(220, 220, 255);
}

a, a:hover { 
  text-decoration: none;
  color: white;
}
